GOOGLE_SOLAR_API_KEY=
GOOGLE_API_KEY=
GOOGLE_CLOUD_PROJECT=
DOCUMENTAI_LOCATION=eu
DOCUMENTAI_FORM_PROCESSOR_ID=
GOOGLE_APPLICATION_CREDENTIALS=/app/service-account.json
USE_FAKE_DOCUMENTAI=false
VAPI_PUBLIC_KEY=
