@import "tailwindcss";

@theme {
  --color-error: #ba1a1a;
  --color-surface-dim: #d8dadc;
  --color-background: #f7f9fb;
  --color-primary-fixed-dim: #68dba9;
  --color-surface: #f7f9fb;
  --color-surface-container-low: #f2f4f6;
  --color-tertiary-container: #007cb1;
  --color-on-background: #191c1e;
  --color-on-surface-variant: #3d4a42;
  --color-on-tertiary-container: #fcfcff;
  --color-on-primary-container: #f5fff7;
  --color-on-error-container: #93000a;
  --color-inverse-primary: #68dba9;
  --color-tertiary-fixed: #c9e6ff;
  --color-on-primary: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-outline: #6d7a72;
  --color-secondary-fixed-dim: #bcc7de;
  --color-surface-variant: #e0e3e5;
  --color-surface-container-high: #e6e8ea;
  --color-inverse-surface: #2d3133;
  --color-on-secondary-container: #586377;
  --color-tertiary: #00628d;
  --color-secondary-fixed: #d8e3fb;
  --color-primary-container: #00855d;
  --color-on-surface: #191c1e;
  --color-primary: #006948;
  --color-on-error: #ffffff;
  --color-tertiary-fixed-dim: #89ceff;
  --color-surface-container: #eceef0;
  --color-error-container: #ffdad6;
  --color-surface-bright: #f7f9fb;
  --color-primary-fixed: #85f8c4;
  --color-secondary: #545f73;
  --color-surface-container-highest: #e0e3e5;
  --color-on-tertiary: #ffffff;
  --color-secondary-container: #d5e0f8;
  --color-surface-tint: #006c4a;
  --color-on-secondary: #ffffff;
  --color-outline-variant: #bccac0;
  --color-on-secondary-fixed-variant: #3c475a;
  --color-on-primary-fixed: #002114;
  --color-on-tertiary-fixed: #001e2f;
  --color-on-primary-fixed-variant: #005137;
  --color-on-tertiary-fixed-variant: #004c6e;
  --color-on-secondary-fixed: #111c2d;
  --color-inverse-on-surface: #eff1f3;
  --font-family-headline: "Manrope", sans-serif;
  --font-family-body: "Manrope", sans-serif;
  --font-family-label: "Manrope", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.fill-icon {
  font-variation-settings: "FILL" 1;
}

.bg-primary-gradient {
  background: linear-gradient(135deg, #006948 0%, #00855d 100%);
}

.bg-emerald-gradient {
  background: linear-gradient(135deg, #006948 0%, #00855d 100%);
}

.bg-gradient-primary {
  background: linear-gradient(135deg, #006948 0%, #00855d 100%);
}

@keyframes subtle-pulse {
  0%,
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.02);
  }
}

.animate-subtle {
  animation: subtle-pulse 4s ease-in-out infinite;
}
